{{>partial_header}}
package {{packageName}}

import (
    "context"
    "github.com/hashicorp/terraform-plugin-sdk/diag"
    "github.com/hashicorp/terraform-plugin-sdk/helper/schema"
    "github.com/twilio/terraform-provider-twilio/twilio"
    types "github.com/twilio/twilio-go/{{clientPath}}"
)

{{#resources}}
func resource{{name}}() *schema.Resource {
    return &schema.Resource{
        CreateContext: resource{{name}}Create,
        ReadContext:   resource{{name}}Read,
        UpdateContext: resource{{name}}Update,
        DeleteContext: resource{{name}}Delete,
        Schema: map[string]*schema.Schema{
            {{#schema}}
            "{{vendorExtensions.x-name-in-snake-case}}": {
                Type:     schema.TypeString,
                {{#required}}
                Required: true,
                {{/required}}
                {{^required}}
                Optional: true,
                {{/required}}
            },
            {{/schema}}
        },
    }
}

{{#operations}}
{{#operation}}
func resource{{nickname}}(ctx context.Context, d *schema.ResourceData, m interface{}) diag.Diagnostics {
    {{#hasOptionalParams}}
    params := resource{{name}}Params(d)

    {{/hasOptionalParams}}
    {{#vendorExtensions.x-is-create-operation}}
    r, err := m.(*twilio.Config).Client.{{productVersion}}.{{nickname}}(params)
    {{/vendorExtensions.x-is-create-operation}}
    {{#vendorExtensions.x-is-delete-operation}}
    err := m.(*twilio.Config).Client.{{productVersion}}.{{nickname}}(d.Id())
    {{/vendorExtensions.x-is-delete-operation}}
    {{#vendorExtensions.x-is-read-operation}}
    r, err := m.(*twilio.Config).Client.{{productVersion}}.{{nickname}}(d.Id(){{#hasOptionalParams}}, params{{/hasOptionalParams}})
    {{/vendorExtensions.x-is-read-operation}}
    {{#vendorExtensions.x-is-update-operation}}
    _, err := m.(*twilio.Config).Client.{{productVersion}}.{{nickname}}(d.Id(){{#hasOptionalParams}}, params{{/hasOptionalParams}})
    {{/vendorExtensions.x-is-update-operation}}

    if err != nil {
        return diag.FromErr(err)
    }

    {{#vendorExtensions.x-is-create-operation}}
    d.SetId(r.Sid)

    return resource{{name}}Read(ctx, d, m)
    {{/vendorExtensions.x-is-create-operation}}
    {{#vendorExtensions.x-is-read-operation}}
    {{#schema}}
    d.Set("{{vendorExtensions.x-name-in-snake-case}}", r.{{baseName}})
    {{/schema}}

    return nil
    {{/vendorExtensions.x-is-read-operation}}
    {{#vendorExtensions.x-is-update-operation}}
    return resource{{name}}Read(ctx, d, m)
    {{/vendorExtensions.x-is-update-operation}}
    {{#vendorExtensions.x-is-delete-operation}}
    return nil
    {{/vendorExtensions.x-is-delete-operation}}
}

{{/operation}}
{{/operations}}

func resource{{name}}Params(d *schema.ResourceData) *types.{{name}}CreateParams {
    params := &types.{{name}}CreateParams{
        {{#schema}}
        {{#required}}{{baseName}}: d.Get("{{vendorExtensions.x-name-in-snake-case}}").(*{{dataType}}),{{/required}}
        {{/schema}}
    }

    {{#schema}}{{^required}}
    if v, ok := d.GetOk("{{vendorExtensions.x-name-in-snake-case}}"); ok {
        params.{{baseName}} = v.(*{{dataType}})
    }
    {{/required}}{{/schema}}

    return params
}
{{/resources}}
